<div class="contact-info-items-grid">
  <div class="row">
    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-map-marker"></i></div>

        <div class="contact-info-item__text">Liverpool,<br />
          England</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-phone"></i></div>

        <div class="contact-info-item__text">Phone: 0776141005757<br />
          Another: 0776141005757</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-envelope-o"></i></div>

        <div class="contact-info-item__text"><a href="mailto:viv@askviv.co">viv@askviv.co</a><br />
          <a href="mailto:go@askviv.co">go@askviv.co</a></div>
      </div>
    </div>
  </div>
</div>

<div class="contact-info-items-grid">
  <div class="row">
    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-map-marker"></i></div>

        <div class="contact-info-item__text">Ливърпул,<br />
          Англия</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-phone"></i></div>

        <div class="contact-info-item__text">Телефон: 0776141005757<br />
          Друг: 0776141005757</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="contact-info-item clearfix">
        <div class="contact-info-item__icon"><i class="fa fa-envelope-o"></i></div>

        <div class="contact-info-item__text"><a href="mailto:viv@askviv.co">viv@askviv.co</a><br />
          <a href="mailto:go@askviv.co">go@askviv.co</a></div>
      </div>
    </div>
  </div>
</div>

Виви има на сърце да помага на хора, които има нужда и да задават въпроси, на които тя да отговаря.
Спретнах й един сайт и искам да я изненадам с резултата. Ще може ли да те помоля за съдействие.
Разгледай сайта и посредата на началната страница има една форма за задаване на въпроси.
Сигурен съм че Виви ще се почувтва много насърчена като види колко хора за помогнали за развитието на идеята й.
За сега сайта е в бета версия и ще се радвам на каквито и да е коментари и съвети за развитие.
https://askviv.co/