<div class="col-md-12 text-center">
  <div class="clearfix subfooter__section subfooter-first">

    {% if (language.getId() == 'en') %}
      <div class="visible-md visible-lg">Copyright © 2018 <a href="https://askviv.co/">AskViv.co</a>. All rights reserved.</div>
      <div class="text-center visible-xs visible-sm">Copyright © 2018<a href="https://askviv.co/">AskViv.co</a>. All rights reserved.</div>
    {% elseif (language.getId() == 'bg') %}
      <div class="visible-md visible-lg">Copyright © 2018 <a href="https://askviv.co/">AskViv.co</a>. Всички права запазени.</div>
      <div class="text-center visible-xs visible-sm">Copyright © 2018<a href="https://askviv.co/">AskViv.co</a>. Всички права запазени.</div>
    {% endif %}

  </div>
</div>
