<div class="col-sm-6 col-md-4">
  <div class="clearfix subfooter-top__section subfooter-top-first">
    <div class="logo-and-site-name-wrapper clearfix">
      <div class="logo"><a class="site-branding__logo" href="/" rel="home" title="Home"><img alt="Home" src="/themes/custom/askviv/main_logo_footer.png" /> </a></div>
      <div class="site-name site-branding__name"><a href="/" rel="home" title="Home">{{ site_name }}</a></div>
      <div class="site-slogan site-branding__slogan">{{ site_slogan }}</div>
    </div>
  </div>
</div>