.site-branding__name > a{
  font-family: 'Miss Fajardose', cursive;
  font-size: 52px;
  padding-left: 5px;
  display: inline-block;
  -webkit-transform: scale(1.3 ,1);
  -moz-transform: scale(1.3 ,1);
  -ms-transform: scale(1.3 ,1);
  -o-transform: scale(1.3 ,1);
  transform: scale(1.3 ,1);
  font-kerning: none;
}

.site-branding__logo > img{
  width: 50px;
  height: 50px;
}

.header__container-small{
  padding: 10px 0 !important;
  transition: all 0.3s ease;
}

.logo-and-site-name-wrapper{
  margin-bottom: -20px !important;
}

.left-side_paragraph{
  padding-right: 20px;
  margin-bottom: 0;
}

.right-side_paragraph{
  padding-left: 20px;
}

.block-social-sharing-block{
  margin-top: -101px;
  position: absolute;
  right: 20px;
}

.block-social-sharing-block > h2{
  margin-bottom: -45px !important;
}

.two-sides_paragraph{
  margin-top: 30px;
  margin-bottom: 35px;
}

.blog-info-box{
  pointer-events: none;
  margin-top: -135px;
  z-index: 1;
  position: relative;
}

.blog-info-box > h2 > a{
  font-size: 24px;
  pointer-events: all;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

.blog-info-box > h2{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-info-box > p{
  pointer-events: all;
  margin-left: 20px;
  color: white;
  padding: 0 !important;
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-info-box > div{
  pointer-events: all;
  text-align: center;
}

.blog-info-box > div > a{
  pointer-events: all;
  background-color: white;
  color: #08605F;
  font-weight: bold;
}

.blog-info-box > div > a:hover{
  background-color: #08605F;
  color: white;
  font-weight: bold;
}

.blog-image{
  border-radius: 5px;
}

.blog-image > img{
  transition: transform .5s;
}

.blog-image > img:hover{
  opacity: .7;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.grid-column{
  padding-left: 10px;
  padding-right: 10px;
}

.image-gradient{
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 120px;
  position: relative;
  margin-top: -120px;
  border-radius: 0 0 5px 5px;
}

.content-top{
  margin-bottom: -140px;
}

.asked-list{
  margin-bottom: 10px;
}

.asked-list-body{
  max-height: max-content !important;
  margin: -10px -25px 0 0 !important;
}

.field--name-field-related-content .field__label {
  width: 100%;
  padding: 0 0 30px;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #b0aeae;
}

.related-content-title > a{
  color: #3c3c3c;
}

.related-content-infobox{
  margin-top: -30px;
}

.paragraph--type--quote {
  padding: 55px 120px 20px;
}

.paragraph--type--quote {
  position: relative;
  padding: 55px 40px 20px;
  text-align: center;
}

.paragraph--type--quote .field--name-field-quote-text {
  font-size: 22px;
  line-height: 36px;
}

.paragraph--type--quote .field--name-field-quote-text {
  max-width: 683px;
  margin: 0 auto 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.paragraph--type--quote .field--name-field-quote-author {
  display: inline-block;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid #247d82;
}

.paragraph--type--quote:before {
  top: 20px;
  left: 25px;
  background-image: url(../images/open-q.png);
}

.paragraph--type--quote:after {
  right: 25px;
  bottom: 50px;
  background-image: url(../images/closeq.png);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
}

.paragraph--type--quote:before, .paragraph--type--quote:after {
  width: 63px;
  height: 63px;
  background-size: 63px;
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
}

.paragraph--type--quote:before, .paragraph--type--quote:after {
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  content: "";
  background-repeat: no-repeat;
  background-size: 31px;
}

.menu--content-creator{
  margin-top: -25px;
}

.banner-image{
  background-size: cover;
  background-image: url(/themes/custom/askviv/images/bible-read.jpg);
  background-attachment: fixed;
}

.images-full-width{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.scroll_image_effect{
  border-radius: 5px;
}

.scroll_image_effect > img{
  transition: transform .5s;
}

.scroll_image_effect > img:hover{
  opacity: .7;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media only screen and (max-width: 991px) {

  .grid-column{
    width: 100% !important;
  }

  .subfooter-top-second{
    margin-top: 35px;
  }

  .left-side_paragraph{
    float: inherit !important;
    width: 100% !important;
  }

  .right-side_paragraph{
    float: inherit !important;
    width: 100% !important;
    margin-top: 15px;
  }

  .block-social-sharing-block{
    margin-top: 0px;
    position: inherit;
  }

  .related-content-infobox{
    margin-top: -15px;
  }
}

/* Smartphones detector for js----------- */
@media only screen and (max-width: 760px) {
  #smartphone-detected { display: none; }
}