.site-branding__name > a{
  font-family: 'Miss Fajardose', cursive;
  font-size: 36px;
}

.left-side_paragraph{
  padding-right: 20px;
  margin-bottom: 0;
}

.right-side_paragraph{
  padding-left: 20px;
}

.block-social-sharing-block{
  margin-top: -101px;
  position: absolute;
  right: 20px;
}

.block-social-sharing-block > h2{
  margin-bottom: -45px !important;
}

.two-sides_paragraph{
  margin-top: 30px;
  margin-bottom: 35px;
}

.blog-info-box{
  padding: 0 0 20px 20px;
  margin-top: -135px;
  z-index: 1;
  position: relative;
}

.blog-info-box > p{
  color: white;
  padding: 0 !important;
}

.blog-info-box > p > a{
  color: white;
  font-weight: bold;
}

.blog-info-box > h2 > a{
  color: white;
  font-weight: bold;
}

.homepage-blog-list{
  padding-left: 10px;
  padding-right: 10px;
}

.image-gradient{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 120px;
  position: relative;
  margin-top: -120px;
  border-radius: 0 0 5px 5px;
}

.content-top{
  margin-bottom: -140px;
}

.asked-list{
  margin-bottom: 10px;
}

.asked-list-body{
  max-height: max-content !important;
  margin: -10px -25px 0 0 !important;
}